/* Esto centra el título. */
.centrado{
   display: flex; 
   flex-direction: row;
   justify-content: center;
}

h1{
    align-items: center;
    font-weight: 100;
}

    p{
        margin-left: 10px;
    }
    /* Se define una clase para alinear correctamente el texto y las fotos en index.html */
    .index{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    /* Estilo de la barra de navegación. */
    nav ul{
        list-style: none;
        background-color: #87CEEB;
        margin: 0;
        padding: 0;
    }
    nav ul li{
        display: inline-block;
        width: 16%;
    }
    nav ul li a{
        color: white;   
        text-decoration: none;
    }

    form{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }