/* Esto coloca los vídeos de servicios uno sobre otro */
.vertical{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

h1{
    text-align: center;
    font-weight: 100;
}

    p{
        margin-left: 10px;
    }
    /* Se define una clase para alinear correctamente el texto y las fotos en index.html */
    .index{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    /* Estilo de la barra de navegación. */
    nav ul{
        list-style: none;
        background-color: #0275d8;
        margin: 0;
        padding: 0;
    }
    nav ul li{
        display: inline-block;
        width: 16%;
    }
    nav ul li a{
        color: white;   
        text-decoration: none;
    }

.formulario{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}


    input[type=submit]{
        color: #367588;
        background-color: #D4AF37;
        position: relative;
        left: 50%;
        padding: 10px;
    }

    input[type=submit]:focus{
        color: #EF7F1A;
        background-color: #367588;
        position: relative;
        left: 50%;
        padding: 10px;
    }


    .video{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
/* Esto coloca un borde azul índigo al contenido de la pag */
    .reborde{
        border: 1px #367588 solid;
    }
    footer{
     margin: 10px;   
    }