<table>
    <thead>
        <th>Nombre</th>
        <th>Correo</th>
        <th>Mensaje</th>
    </thead>
    <tbody>
        <tr>
            {{#each datosContacto}}
            <td>{{nombre}}</td>
            <td>{{correo}}</td>
            <td>{{mensaje}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>