    <h1>Editar artículo</h1>
    <form action="/admin/editar" method="post">
    {{#each texto}}
    <label>Título del artículo</label>
    <input type="text" name="titulo" maxlength="60" id="titulo" value="{{titulo}}" placeholder="título">
    <label>Cuerpo del artículo</label>
            <textarea name="cuerpo" id="cuerpo" rows="3" placeholder="Cuerpo">{{cuerpo}}</textarea>
            <input type="submit" value="Actualizar artículo">
                {{/each}}
    </form>
    {{#if isEditado}}
    <p>El artículo se editó correctamente.</p>
    <a href="/admin/tib">Visita los temas de interés.</a>
    {{/if}}
    {{#if isErrored}}
    <p>Ocurrió un error. Intenta nuevamente más tarde.</p>
    {{/if}}

           <script type="application/javascript" src= "/tinymce/tinymce.min.js"></script>
    <script>
         tinymce.init({
   selector: 'textarea#cuerpo',
   language: 'es_MX',
   height: 500,
   menubar: false,
   plugins: [
     'advlist autolink lists link image charmap print preview anchor',
     'searchreplace visualblocks code fullscreen',
     'insertdatetime media table paste code help wordcount'
   ],
   toolbar: 'undo redo | formatselect | ' +
   'bold italic backcolor | alignleft aligncenter ' +
   'alignright alignjustify | bullist numlist outdent indent | ' +
   'removeformat | help'
 });
    </script>
