    <h1>Edita la consulta en el siguiente formulario</h1>
    <form   action="/admin/editarcontacto" method="post">
    {{#each texto}}
    <div class="formulario">
    <label>Nombre</label>
    <input type="text" maxlength="100" name="nombre" id="nombre" placeholder="Nombre" value="{{nombre}}">
    <label>Apellidos</label>
    <input type="text" maxlength="100" name="apellidos" id="apellidos" value="{{apellidos}}" placeholder="Apellidos">
    <label>Correo</label>
    <input type="email" maxlength="100" placeholder="Correo" value="{{correo}}" name="correo" id="correo" required>
    <label>Mensaje</label>
    <textarea rows="8"  wrap="soft" name="mensaje" id="mensaje" placeholder="Mensaje" style="float: right; margin-left: 2em;" >{{mensaje}}</textarea>
    </div>
    {{/each}}
    <input type="submit"  style="padding: 10px; position: relative; left: 50%;" value="Actualizar consulta">
    </form> 
    {{#if isContactoeditado}}
    <p style="margin-top: 3px;">La consulta se ha modificado exitosamente.</p>
    <a href="/admin/contactanos">Volver a la sección de contactanos administrador</a>
    {{/if}}
    {{#if isErrorcontactoeditado}}
    <p style="margin-top: 3px; color: #ff0000;">¡Ha habido un error! Por favor, intentalo de nuevo dentro de unos minutos. Si el problema persiste contactá con un superior.</p>
    {{/if}}