<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{#if isLogin}}
    <title>Iniciar sesión - SYS Informática Los Toldos</title>
    {{/if}}
    {{#if isTib}}
        <title>Temas de interés - SYS Informática Los Toldos</title>
        {{/if}}
        {{#if isArticulo}}
        {{#each texto}}
        <title>{{titulo}}</title>
        {{/each}}
        {{/if}}
        {{#if isAgregar}}
    <title>Agregar artículo - SYS Informática Los Toldos</title>
    {{/if}}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    {{!-- <link rel="stylesheet" href="/stylesheets/style-admin.css"> --}}
</head>
<body>
    <p style="background-color: #367588; color: white; text-align: center; font-family: 'Courier New', Courier, monospace; font-size: 50px; font-weight: 100;">SYS</p>
    <img src="/images/syslogoposta.png" alt="SYS Informatica Los Toldos" style="margin-left: 10px; margin-top: 10px;">
    <main class="reborde">
{{{body}}}
</main>
    <footer>
    <a href="http://sysargentina.blogspot.com/" target="_blank">¡Visitá nuestro blog!</a>
    <p>© Copyright SYS Informática.Todos los derechos reservados.</p>
    </footer>
</body>
</html>