<form   action="/admin/login" method="post">
    <div class="formulario1">
    <label for="usuario">Ingrese su usuario</label>
    <input type="text" name="usuario" placeholder="Usuario" maxlength="60" required>
    <label for="password">Ingrese la contraseña</label>
    <input type="password" name="password" placeholder="Contraseña" maxlength="70" required>

    <input type="submit"  value="Iniciar sesión">
    </div>
</form>