    <h1>Historia</h1>
    <p>Más de 30 años de servicio.</p>
    <p>SYS informática dio sus primeros pasos en el año 1990. Rápidamente, su software de gestión contable e impositiva se consolidó como un sistema de referencia en el noroeste bonaerense y se expandió hacia otros puntos de la región y el país.</p>
    <div class="index">
    <p>En tiempos en que Internet no estaba tan difundido, nuestros jóvenes profesionales recorrían cientos de kilómetros para asistir a nuestros clientes, así fuera para solucionar los problemas que surgían como para otorgar nuevos servicios.</p>
    <img src="images/img-h.png" alt="Mapa de Argentina">
    </div>
    <p>Hoy en día, la asistencia remota se ha convertido en una herramienta invaluable en nuestra empresa: permite auxiliar a nuestros clientes inmediatamente, como así también actualizar el sistema de manera constante.</p>