    <h1>Visión y misión.</h1>
    <div class="index">
    <p>Nuestro objetivo es ofrecer a nuestros clientes, tanto de pequeñas como grandes empresas de transporte y del sector agropecuario, software que faciliten y agilicen todos los trabajos administrativos y contables de su negocio u organización.</p>
    <img src="images/imagen-q.jpg" alt="Un computador mostrando un código de barras">
    </div>
        <p>Nuestra visión es convertirnos en tu mejor aliado, ofreciendo soluciones eficientes, seguras y cómodas, adaptadas a cada una de tus necesidades con la mayor responsabilidad y profesionalismo.</p>