    <div class="reborde">
    <h1>Servicios</h1>
    <p>Diseñamos y vendemos programas de contabilidad para las empresas, personalizándolos y adaptándolos a las necesidades específicas de cada cliente, garantizando una eficaz y oportuna atención a distancia.</p>
    <h2>¡Echale un vistazo a nuestro programa!</h2>
    <img src="images/servicios.png" alt="Esqema de funciones del software contable">
    <div class="vertical" style="float: right;">
    <video width="320" height="240" controls>
        <source src="images/video/sys-menu-demo2_6Zf15ckz_9fwT.mp4"> type="video/mp4">
        Tu navegador no soporta el contenido multimedia.
      </video>
      <video width="320" height="240" controls>
        <source src="images/video/sys1_0014.mp4" type="video/mp4">
        Tu navegador no soporta el contenido multimedia.
      </video>
      <video width="320" height="240" controls>
        <source src="images/video/Comparativo3.mp4" type="video/mp4">
        Tu navegador no soporta el contenido multimedia.
      </video>
    </div>
    </div>