    <h1>Temas que te podrían interesar</h1>
    <div class="temas">
        <img src="images/temas-1.jpg" alt="Persona llevando un gran fajo de papeles">
        <img src="images/temas-2.jpg" alt="Persona trabajando en 2 ordenadores">
    </div>
    <p>Acá podrás ver diversos temas de interés que pueden beneficiar a tu empresa.</p>
    <ul>
{{#each temas}}
    <li><a href="/temasinteres/articulo/{{id}}">{{titulo}}</a></li>
    {{/each}}
    </ul>