    <h1>Temas que te podrían interesar</h1>
    <div class="temas">
        <img src="images/temas-1.jpg" alt="Persona llevando un gran fajo de papeles">
        <img src="images/temas-2.jpg" alt="Persona trabajando en 2 ordenadores">
    </div>
    <p>Acá podrás ver diversos temas de interés que pueden beneficiar a tu empresa.</p>
        <ul>
            <li><a href="tecnologiacontabilidad">La tecnología, una nueva forma de llevar la contabilidad.</a></li>
            <li><a href="tecnoambiental">Tecnología y medioambiente. Amigos o enemigos.</a></li>
        </ul>